In [1]:
import tensorflow as tf
from tensorflow import keras
import pandas as pd
import seaborn as sns
import os
import numpy as np
%load_ext tensorboard

In [2]:
tsla = pd.read_parquet("data/tsla_combined.parquet")

In [3]:
tsla

           Date      Close  polarity
1136 2015-01-02  43.862000  0.413871
1137 2015-01-05  42.018002  0.427613
1138 2015-01-06  42.256001  0.415008
1139 2015-01-07  42.189999  0.377024
1140 2015-01-08  42.124001  0.303595
...         ...        ...       ...
2389 2019-12-24  85.050003  0.312909
2390 2019-12-26  86.188004  0.308775
2391 2019-12-27  86.075996  0.266039
2392 2019-12-30  82.940002  0.301495
2393 2019-12-31  83.666000  0.319125

[1258 rows x 3 columns]

In [4]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler(feature_range=(0,1))
tsla['Close'] = scaler.fit_transform(tsla['Close'].values.reshape(-1, 1))

In [5]:
from sklearn.model_selection import train_test_split

X = tsla['polarity']
y = tsla['Close']
X_train, X_test, y_train, y_test = train_test_split(X, y)

# number of days in data (500 tweets in one day)
# input = 500, year worth of data, 500 x 365

#one neural network with datetime and sentiment score is better
#

In [6]:
X_train.shape

(943,)

In [7]:
X_train = np.array(X_train).reshape(-1,1)

In [8]:
# regression
#input shape should just be

model = keras.models.Sequential([
    keras.layers.Dense(1,input_shape=[943,1],name="layer0"),
    keras.layers.Dense(200,activation='relu',name="layer1"),
    keras.layers.Dense(100,activation='relu',name="layer2"),
    keras.layers.Dense(1,name="layer3")
])

model.compile(loss='mean_squared_error',
             optimizer='adam',
             metrics=['accuracy'])

model.fit(X_train, y_train, epochs=5, batch_size=1)

Epoch 1/5
WARNING:tensorflow:Model was constructed with shape (None, 943, 1) for input KerasTensor(type_spec=TensorSpec(shape=(None, 943, 1), dtype=tf.float32, name='layer0_input'), name='layer0_input', description="created by layer 'layer0_input'"), but it was called on an input with incompatible shape (1, 1, 1).
WARNING:tensorflow:Model was constructed with shape (None, 943, 1) for input KerasTensor(type_spec=TensorSpec(shape=(None, 943, 1), dtype=tf.float32, name='layer0_input'), name='layer0_input', description="created by layer 'layer0_input'"), but it was called on an input with incompatible shape (1, 1, 1).
943/943 [==============================] - 2s 1ms/step - loss: 0.0421 - accuracy: 0.0000e+00
Epoch 2/5
943/943 [==============================] - 1s 1ms/step - loss: 0.0396 - accuracy: 0.0000e+00
Epoch 3/5
943/943 [==============================] - 1s 1ms/step - loss: 0.0386 - accuracy: 0.0000e+00
Epoch 4/5
943/943 [==============================] - 1s 1ms/step - loss: 0.0378 - accuracy: 0.0000e+00
Epoch 5/5
943/943 [==============================] - 1s 1ms/step - loss: 0.0380 - accuracy: 0.0000e+00

In [9]:
X_train.shape

(943, 1)